{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">Import / Export Csv</h3>
        </div>

        <div class="jumbotron">
            <table class="table table-sm table-striped">
                <thead>
                <tr class="table-success">
                    <th scope="col">{{ titles.id }}</th>
                    <th scope="col">{{ titles.lastName }}</th>
                    <th scope="col">{{ titles.firstName }}</th>
                    <th scope="col">{{ titles.phoneNumber }}</th>
                </tr>
                </thead>
                <tbody>
                {% for adherent in adherents %}
                    <tr>
                        <th scope="row">{{ adherent.id }}</th>
                        <td>{{ adherent.lastName }}</td>
                        <td>{{ adherent.firstName }}</td>
                        <td>{{ adherent.phoneNumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <footer class="footer">
            <p>©Alexandre Joulie 2018</p>
        </footer>
    </div>
{% endblock %}